<div>
    <app-heading [message]="'Pipes'" [note]="'Pipes are basically use for formmating'"></app-heading>
    <div class="row">
        <div class="col-3">
            <h4>
                Built-in pipes
            </h4>
            <ul>
                <li>DetePipe | date: 'dd/mm/yyyy'</li>
                <li>UpperCasePipe | UpperCase</li>
                <li>LowerCasePipe | LowerCase</li>
                <li>CurrencyPipe | currency : 'BDT'</li>
                <li>DecimalPipe</li>
                <li>PercentPipe</li>
                <li>JsonPipe | json</li>
                <li>SlicePipe</li>
                <li>AsyncPipe</li>
            </ul>
        </div>      
    </div>
</div>
