<div class="container mt-3">
  <div class="list-group card border-0">
    <a class="list-group-item list-group-item-action" routerLink="/data-binding" routerLinkActive="active">Data Binding</a>
    <a class="list-group-item list-group-item-action" routerLink="/structural-directive" routerLinkActive="active">Structural Directive</a>
    <a class="list-group-item list-group-item-action" routerLink="/attribute-directive" routerLinkActive="active">Attribute Directive</a>
    <a class="list-group-item list-group-item-action" routerLink="/control-flow" routerLinkActive="active">Control Flow</a>
    <a class="list-group-item list-group-item-action" routerLink="/forms/tamplate-form" routerLinkActive="active">Template Form</a>
    <a class="list-group-item list-group-item-action" routerLink="/forms/reactive-form" routerLinkActive="active">Reactive Form</a>
    <a class="list-group-item list-group-item-action" routerLink="/getapi" routerLinkActive="active">Get API</a>
    <a class="list-group-item list-group-item-action" routerLink="/postapi" routerLinkActive="active">Post API</a>
    <a class="list-group-item list-group-item-action" routerLink="/ngtamplate" routerLinkActive="active">Ng Tamplate</a>
    <a class="list-group-item list-group-item-action" routerLink="/viewchild" routerLinkActive="active">View Child</a>
    <a class="list-group-item list-group-item-action" routerLink="/signal" routerLinkActive="active">Signal</a>
    <a class="list-group-item list-group-item-action" routerLink="/gurd" routerLinkActive="active">Gurd</a>
    <a class="list-group-item list-group-item-action" routerLink="/class-interface" routerLinkActive="active">Class & Interface</a>
      </div>
</div>
 