<div class="row">
    <div class="col-12">
        <div>
            <h1 class="text-center mb-4">Stractural Directive in Angular</h1>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="bg-danger" *ngIf="isDiv1Visible" style="width: 350px; height: 50px;"></div>
            </div>
            <div class="col-3">
                <div class="bg-danger" style="width: 350px; height: 50px;" *ngIf="istoggle"></div>
            </div>
            <div class="col-3">
                <div class="bg-danger" style="width: 350px; height: 50px;" *ngIf="num1==num2"></div>
            </div>
            <div class="col-3">
                <div class="bg-danger" style="width: 350px; height: 50px;" *ngIf=" seletedOption=='Sylhet'"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-center mt-3">
                <button class="btn btn-danger me-2" (click)="hideDiv()">Hide</button>
                <button class="btn btn-success" (click)="showDiv()">Show</button>
            </div>
            <div class="col-3 mt-3">
                <button class="btn btn-success" (click)="toggleDiv()">Toggle</button>
            </div>
            <div class="col-3 mt-3">
                <input type="text" [(ngModel)]="num1" placeholder="Enter first number" class="form-control mb-2" />
                <input type="text" [(ngModel)]="num2" placeholder="Enter second number" class="form-control mb-2" />
            </div>
            <div class="col-3">

                <input type="checkbox" [(ngModel)]="isActive" />
                Mark for show
                <select [(ngModel)]="seletedOption" class="form-select mt-2">
                    <option value="" disabled selected>Select an option</option>
                    <option value="Dhaka"> Dhaka</option>
                    <option value="Chittagong"> Chittagong</option>
                    <option value="Sylhet"> Sylhet</option>

                </select>
            </div>
        </div>

    </div>
    <div class="col-12">
        <div class="mt-4">
            <h2 class="text-center">Practice NgFor</h2>
        </div>
        <div class="row">
            <div class="col-3">
                <ul>
                    <li *ngFor="let city of cityArray">{{city}}</li>
                </ul>
            </div>
         
            <div class="col-3">
                <select>
                    <option *ngFor="let city of cityArray" [value]="city">{{city}}</option>
                </select>
            </div>
             <div class="col-3">
                <select>
                    <option *ngFor="let employee of employeeList" [value]="employee.id" >{{employee.name}}</option>
                </select>
            </div>
             <div class="col-3">
               <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>City</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employeeList;let i = index">
                            <td>{{i +1}}</td>
                             <td>{{employee.name}}</td>
                             <td>{{employee.age}}</td>
                             <td>{{employee.city}}</td>

                        </tr>
                    </tbody>
                    
                </table>
            </div>

        </div>

    </div>

</div>