<div class="row mt-3">
  <div>
     <h2 class="text-center text-dark mb-4">📝 Angular Get API Example</h2>
  </div>

  <!-- Buttons -->
  <div class="col-12 d-flex justify-content-start mb-3 gap-2">
    <button class="btn btn-success" (click)="getAllPost()">
      Get Post
    </button>
    <button class="btn btn-success" (click)="getAllPostPhoto()">
      Get Details
    </button>
  </div>

  <!-- Post Table -->
  <div class="col-12" *ngIf="postList && postList.length > 0">
    <div class="table-responsive shadow rounded">
      <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of postList">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Photo Table -->
  <div class="col-12" *ngIf="photoList && photoList.length > 0">
    <div class="table-responsive shadow rounded">
      <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of photoList">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>
              <img [src]="post.thumbnailUrl" 
                   alt="{{ post.title }}" 
                   class="img-fluid img-thumbnail"
                   width="80" height="80">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
